boto3==1.24.22
certifi==2022.6.15
chardet==4.0.0
docutils==0.18.1
jmespath==1.0.1
oauthlib==3.2.0
python-dateutil==2.8.2
requests==2.27.1
requests-oauthlib==1.3.1
s3transfer==0.6.0
six==1.16.0
urllib3~=1.26
